@font-face {
    font-family: 'Courgette';
    src: url('./Courgette-Regular.ttf');
}
@font-face {
    font-family: 'Oswald';
    src: url('./Oswald-VariableFont_wght.ttf');
}
body{
font-family:'Courgette','Oswald',Arial, Helvetica, sans-serif;
}